header .logo {
    width: 256px;
}

header .logo h1 {
    width: 172px;
    float: left;
}

header .logo span {
    margin-top: 10px;
    margin-left: 13px;
    float: left;
    width: 71px;
    height: 32px;
    border-left: 1px solid #b1191a;
}

header .logo span img {
    width: 56px;
    margin-left: 14px;
    margin-top: 3px;
}

nav {
    overflow: hidden;
    height: 45px;
}

nav .list_left ul li {
    float: left;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
}

nav .list_left ul li a {
    display: block;
    font-size: 16px;
    color: #000;
    line-height: 45px;
    padding: 0 28px;
}

nav .list_right ul li {
    float: left;
    height: 45px;
    font-size: 16px;
    position: relative;
}

nav .list_right ul li:last-child a::after {
    position: absolute;
    top: 1px;
    content: '\e959';
    font-family: 'icomoon';
}

nav .list_right ul li a {
    display: block;
    font-size: 14px;
    color: #666;
    line-height: 48px;
    padding: 0 24px;
}


/* 列表页主体 */

.sk_hd {
    height: 120px;
}

.sk_hd img {
    width: 1200px;
}

.sk_bd {
    margin-top: 25px;
}

.sk_bd ul li {
    float: left;
    margin-right: 10px;
    margin-top: 25px;
    width: 290px;
    height: 460px;
    border: 1px solid transparent;
    text-align: center;
}

.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk_bd ul li:hover {
    border-color: #b1191a;
}

.sk_bd ul li a img {
    width: 125px;
    margin-top: 22px;
}

.sk_bd ul li a>h5 {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
    text-align: left;
    margin-left: 12px;
}

.sk_bd ul li a .price {
    overflow: hidden;
    width: 140px;
    margin-left: 12px;
    height: 18px;
    line-height: 18px;
    margin-top: 17px;
    margin-bottom: 13px;
}

.sk_bd ul li a .price h5 {
    float: left;
    font-size: 14px;
    color: #a4a4a4;
    margin: 0;
    padding: 0;
    margin-left: 8px;
    margin-top: 3px;
}

.sk_bd ul li a .price h4 {
    float: left;
    font-size: 22px;
    color: #e60012;
    margin: 0;
    padding: 0;
}

.progress {
    width: 260px;
    height: 15px;
    line-height: 15px;
    margin-left: 14px;
}

.progress>.pro_left {
    width: 60px;
    height: 15px;
    line-height: 15px;
    float: left;
    font-size: 14px;
    color: #666;
}

.progress>.pro_middle {
    overflow: hidden;
    position: relative;
    float: left;
    width: 132px;
    height: 12px;
    border: 1px solid #ed282e;
    border-radius: 6px;
    margin-left: 6px;
    margin-top: 2px;
}

.pro_middle span {
    position: absolute;
    left: -2px;
    top: -1px;
    width: 100px;
    height: 14px;
    background-color: #ed282e;
}

.progress>.pro_right {
    font-size: 13px;
    color: #666;
    margin-left: 5px;
}

.submit {
    width: 288px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    background-color: #b1191a;
    margin-top: 12px;
}